Django==4.2.0
pandas==2.2.1
matplotlib==3.8.4
scikit-learn==1.5.0
numpy==1.26.4
mysqlclient==2.2.4
numpy==1.26.4
psycopg2==2.9.9
threadpoolctl==3.4.0
joblib==1.4.2
django-database-url==1.0.3
gunicorn==22.0.0
sqlparse==0.5.0
pymysql==1.1.1