{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="aboutus-container">
        <header>
            <h1>About Us</h1>
        </header>
        <section class="about-section">
            <div class="image-container">
                <img src="{% static 'C:/Users/91983/Desktop/value/medical_1/static/img/img6.jpg' %}" alt="Medical Illustration">
            </div>
            <div class="content">
                <h2>Welcome to MediCare</h2>
                <p>
                    At MediCare, we are dedicated to providing you with the most reliable information on medications, their precautions, descriptions, and workouts tailored to your symptoms. Our mission is to help you achieve better health through informed choices and personalized care.
                </p>
                <p>
                    Our team of medical professionals and fitness experts works tirelessly to bring you the latest and most accurate information in the healthcare field. Whether you're looking for advice on managing symptoms or tips on maintaining a healthy lifestyle, MediCare is here to support you every step of the way.
                </p>
                <p>
                    We believe in the power of knowledge and the importance of staying informed. That's why we offer a wide range of resources to help you understand your health better. From detailed medication guides to customized workout plans, we've got you covered.
                </p>
                <p>
                    Thank you for choosing MediCare as your trusted health partner. We're here to help you live a healthier, happier life.
                </p>
            </div>
        </section>
    </div>
{% endblock content%}